html, body, div, span, ul, li, footer, header, hgroup, 
menu, nav, output, section, h1, h2, h3 {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
    background-color: #011845;
    font-family: 'Gilroy';
    color: #E8EDFF;
    position: relative;
    box-sizing: border-box;

}
ul {
	list-style: none;
}


.sphere {
    position: absolute;
    top: -350px;
    left: 50%;
    transform: translateX(-50%);
}

.container {
    max-width: 1300px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: inherit;
}

nav {
    padding-top: 20px;
    padding-bottom: 70px;
}

nav button {
    background-color: transparent;
    border: none;
    color: #fff;
    font-family: 'Gilroy';
    font-weight: normal;
}

.nav__logo {
    font-family: 'Oceanic';
    font-size: 28px;
    font-weight: 400;
}

.nav__items {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__list {
    display: flex;

}

.nav__list li {
    margin-right: 46px;
}

.nav__list li:last-child {
    margin-right: 0;
}


.header{
    margin-bottom: 185px;
}
.header__content {
    background-image: url('../img/banner.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 615px;
    max-height: 689px;
    background-position: center center;
    margin-bottom: 300px;
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.header__content-wrapper {
    display: flex;
    justify-content: space-between;
}

.header__block {
    /* position: absolute; */
    bottom: 0;
    font-family: 'Gilroy';
}

.header__title {
    font-size: 80px;
    font-weight: 500;
    margin-bottom: 50px;
}

.header__left a {
    font-family: 'Gilroy';
    color: #fff;
    font-size: 24px;
    font-weight: 300;
    padding: 20px 109px;
    background-color: #E9663D;
}

header p {
    font-family: 'Gilroy';
    font-size: 18px;
    font-weight: 400;
    width: 370px;
    margin-bottom: 70px;
    line-height: 25.2px;
}

.header__right {
    text-align: right;
}

.header__right li {
    display: flex;
    margin-bottom: 30px;
    width: 387px;
}

.header__right li img {
    margin-right: 24px;
}


.header__right .header__title {
    text-align: right;
}

.about{
    margin-bottom: 140px;
}

.about h2 {
    font-family: 'Oceanic';
    font-size: 56px;
    font-weight: 500;
    margin-bottom: 54px;
    
}

.about h2 span {
    font-size: 12px;
    font-family: 'Gilroy';
    font-weight: 300;
    margin-right: 120px;
    display: inline-block;
}

.about__content {
    display: flex;
    justify-content: space-between;
}

.about__content-left {
    width: 40%;
    font-size: 18px;
    line-height: 25px;

}

.about a {
    background-color: #011845;
    border: 1px solid #E8EDFF;
    color: #E8EDFF;
    padding: 20px 59px;
}
.a__wrapper{
    box-sizing: border-box;
    margin-top: 113px;
    background-color: #011845;
}
.about p{
    margin-bottom: 30px;
}
.about__content-right {
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.about__content-right img {
    display: block;
}

.menu{
    margin-bottom: 150px;
}

.menu h2 {
    font-family: 'Oceanic';
    font-size: 56px;
    font-weight: 500;
    margin-bottom: 74px;
    
}

.menu h2 span {
    font-size: 12px;
    font-family: 'Gilroy';
    font-weight: 300;
    margin-right: 120px;
    display: inline-block;
}

menu h3{
    font-family: 'Oceanic';
    font-size: 36px;
    font-weight: 400;
}

.menu__item{
    display: flex;
    background-color: #496192;
    padding-left: 100px;
    padding-right: 100px;
}

.menu__item-title{
    font-size: 36px;
    font-family: 'Oceanic';
    font-weight: 400;
}

.menu__item-text{
    width: 386px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.menu__item-text p{
    font-family: 'Gilroy';
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 21.6px;
}

.menu__item-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}
.menu__item-price{
    font-size: 18px;
    font-weight: 600;
}
.menu__item-mass{
    font-size: 12px;
}

.menu__button{
    background-color: #E9663D;
    padding: 20px 48px;
    display: inline-block;
}


.menu__content{
    position: relative;
}
.menu__item-img{
    position: absolute;
    right: 103px;
    top: -45px;
}

.menu__content::before{
    content: '';
    position: absolute;
    left: 37.3px;
    top: 50%;
    transform: translateY(-50%);
    background-image: url(../img/Vector.svg);
    width: 6.71px;
    height: 13.31px;
}

.menu__content::after{
    content: '';
    position: absolute;
    right: 37.3px;
    top: 50%;
    transform: translateY(-50%);
    background-image: url(../img/Vector.svg);
    width: 6.71px;
    height: 13.31px;
    transform: rotate(-180deg);
}
.menu__navigate-wrapper{
    text-align: center;
}
.menu__navigate{
    display: inline-block;
    margin-top: 75px;
    padding: 22px 53px;
    font-size: 24px;
    border: 1px solid #E8EDFF;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.delivery h2 {
    font-family: 'Oceanic';
    font-size: 56px;
    font-weight: 500;
    margin-bottom: 74px;
    
}

.delivery h2 span {
    font-size: 12px;
    font-family: 'Gilroy';
    font-weight: 300;
    margin-right: 120px;
    display: inline-block;
}

.delivery__content{
    display: flex;
    justify-content: space-between;
    position: relative;
}

.delivery__content-image{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.delivery__content-item{
    width: 320px;
}

.delivery__item-number{
    font-family: 'Oceanic';
    font-size: 36px;
    font-weight: 400;
    margin-bottom: 10px;
}
.delivery__item-title{
    font-family: 'Oceanic';
    font-size: 24px;
    font-weight: 400;
    line-height: 28.8px;
}
.delivery__content-left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 430px;
}

.delivery__content-item p{
    font-size: 18px;
    font-family: 'Gilroy';
    font-weight: 400;
}

.delivery__content-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 430px;

}

.devivery{
    margin-bottom: 150px;
}